extends ../layout
block content
  h1 Administration
  h2= params.name

  .eventInfo(class=['matchInfo'])
    .date Date de lancement 
      =params.beginning
    .date Date de fin 
      =params.ending
    .number Participant max 
      =params.maxPlayers
    .number Level minimum 
      =params.minLevel
    .number Level maximum 
      =params.maxLevel
    .number Nombre de combats 
      =params.nbFights
  a(href='/admin/match/#{params.id}/edit', class=['edit']) Modifier
  span  | 
  a(href='/admin/match/#{params.id}/delete', class=['delete']) Supprimer
  br
  br
  a(href='/admin') Retour

block scripts
  script(src='/delete.js')
