extends ../../layout
block content
  section
    .wrapper
      include ../../match/_show

      -if(data.isStarted()){
        h2 Valider un combat
        form(action='/match/#{data.id}/validate', method='post', class='eventForm')
          | Numéro/Identifiant du combat :
          input(type='number', name='idf')
          br
          input(class=['btn btn-success'], type='submit', value='Valider le combat')
      -} else {
        h2 Inscription
        form(action='/match/#{data.id}/register', method='post', , class='eventForm')
          | Indiquez votre pseudo : 
          input(type='text', name='username')
          br
          input(class=['btn btn-success'], type='submit', value='S\'enrôler')
      -}

      .back
        a(href='/match/home', class=['btn btn-warning']) Retour

block scripts
  script(src='/jquery.tinyscrollbar.min.js')
  script.
    $(document).ready(function(){
        $('.participantsList').tinyscrollbar();
    });
