h2= data.name
.eventInfo(class=['matchInfo'])
  .date Date de lancement 
    =data.beginning
  .date Date de fin 
    =data.ending
  .number Participant max 
    =data.maxPlayers
  .number Level minimum 
    =data.minLevel
  .number Level maximum 
    =data.maxLevel
  .number Nombre de combats 
    =data.nbFights

br
br
h2 Participants 
each participant in data.players
  .user
    =participant.username