extends ../layout
block content
  h1 Mastodonte, seul contre tous

  h2 Matchs en cours
  each match in data.started
    a(href="/match/#{match.id}/show")= match.name

  h2 Matchs à venir
  each match in data.coming
    p
      a(href="/match/#{match.id}/show") #{match.name} (#{match.beginning.toUTCString()})
